.search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  border-radius: 4px;
  margin: 8px 16px 0 0;
  padding-bottom: 10px;
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  border: none;
  max-width: none;
  min-width: none;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .search-result-dropdown-menu {
    min-width: calc(100vw - 3.75rem);
  }
}

.search-result-dataset {
  position: relative;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 4px;
  overflow: auto;
  padding: 8px;
  max-height: calc(100vh - 8.25rem);
  line-height: 1.5;
}

.search-result-item {
  display: flex;
}

.search-result-component-header {
  color: #1e1e1e;
  border-bottom: 1px solid #ddd;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 14px;
}

.search-result-document-title {
  width: 33%;
  border-right: 1px solid #ddd;
  color: #02060c;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  text-align: right;
  position: relative;
  word-wrap: break-word;
  font-size: 12px;
}

.search-result-document-hit {
  flex: 1;
  font-size: 12px;
  color: #63676d;
}

.search-result-document-hit > a {
  color: inherit;
  display: block;
  padding: 0.55rem 0.25rem 0.55rem 0.75rem;
}

.search-result-document-hit > a:hover {
  background-color: rgba(69, 142, 225, 0.05);
}

.search-result-document-hit .search-result-highlight {
  color: #174d8c;
  background: rgba(143, 187, 237, 0.1);
  padding: 0.1em 0.05em;
  font-weight: 500;
}

.search-result-document-hit .search-result-section-title {
  color: #303030;
  font-weight: 500;
  font-size: 1.05em;
  margin-bottom: 0.25em;
}

#search-input {
  color: black;
  border: 1px solid #EAEDF6;
  border-radius: 2px;
  padding: 0.6em 0.4em 0.6em 3.8em;
  font-weight: 100;
  font-size: 14px;
  width: 100%;
  min-height: 40px;
  background: transparent url(../img/search.svg) no-repeat 10px;
}


#search-input:focus {
  color: black;
  font-weight: 100;
}

#search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8C8C8C;
}

#search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8C8C8C;
}

#search-input::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8C8C8C;
}

#search-field .filter {
  border: 1px solid #8C8C8C;
  border-left: none;
  border-radius: 0 0.1em 0.1em 0;
  color: #02060c;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
  white-space: nowrap;
  overflow: hidden;
}

#search-field.has-filter > input {
  border-right: none;
  border-radius: 0.1em 0 0 0.1em;
}
