# ANTORA
build
logs
site-urls.csv

# DEPENDENCIES
# npm
package-lock.json
node_modules
# ruby
gems
Gemfile
Gemfile.lock
# yarn
.yarn/*
.pnp.*
.yarnrc.yml
yarn.lock

# IDE
.DS_Store
.idea
.vscode

# TEMP FILES
*~

/ui-bundle-docs/
/ui-bundle-widget/
