# ANTORA
build
logs
site-urls.csv

# DEPENDENCIES
# npm
package-lock.json
node_modules
# ruby
gems
Gemfile
Gemfile.lock
# yarn
.yarn/*
.yarnrc.yml
yarn.lock
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDE
.DS_Store
.idea
.vscode

# TEMP FILES
*~
