<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Testing Types</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Manual Testing</a>
            <a class="navbar-item" href="#">Automated Testing</a>
            <a class="navbar-item" href="#">Scriptless Testing</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Products</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Device Lab Management</a>
            <a class="navbar-item" href="#">Intelligent Quality Suite</a>
            <a class="navbar-item" href="#">Virtual USB</a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Other Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">API</a>
            <a class="navbar-item" href="#">Installers</a>
            <a class="navbar-item" href="#">Release Notes</a>
            <a class="navbar-item" href="#">Integrations</a>
            <a class="navbar-item" href="#">Supported Versions</a>
          </div>
        </div>
        <a class="navbar-item" href="#">Kobiton Home</a>
      </div>
    </div>
  </nav>
</header>
