<div class="landing-page">
  <div class="search-content">
      <div class="search-wrapper">
        <div class="search-title">What can we help you with?</div> <br/>
        {{#if env.SITE_SEARCH_PROVIDER}}
        <div class="search">
          <div class="search-field">
            <input id="search-input" type="text" placeholder="Type your question here...">
            <div id="search-ai-hint" class="search-result-dropdown-menu" hidden>
              <div class="search-result-dataset">
                <div id="search-hint-results"></div>
                <button class="search-ai-hint__ask-btn" id="search-hint-ask-btn">
                  <span aria-hidden="true">✦</span> Ask AI instead
                </button>
              </div>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
  </div>
  {{#with page.navigation}}
    <div class="item-content">
      <div class="item-wrapper">
        {{> nav-box-item navigation=this}}
      </div>
      <div class="item-background-image"></div>
    </div>
  {{/with}}
</div>