/*! Custom styles */
/*! Edit this file, then run 'yarn build' to auto-generate 'site.css' */

@media screen and (min-width: 1024px) {
  .nav {
    height: calc(100vh - 112px);
  }
}
.landing-page {
  width: 100%;
  height: calc(100vh - 112px);
  overflow: auto;
}

/* Default */
.landing-page > .search-content {
  background: transparent url(../img/bgh_1170x377.svg) no-repeat center;
  height: 377px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  background-size: cover;
}
/* >= 2048px */
@media screen and (min-width: 2048px) {
  .landing-page > .search-content {
    background: transparent url(../img/bgh_2479x377.svg) no-repeat center;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-size: cover;
  }
}

/* From 1680px to 2047.5px  */
@media screen and (min-width: 1680px) and (max-width: 2047.5px) {
  .landing-page > .search-content {
    background: transparent url(../img/bgh_1504x377.svg) no-repeat center;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-size: cover;
  }
}

/* From 1440px to 1679.5px  */
@media screen and (min-width: 1440px) and (max-width: 1679.5px) {
  .landing-page > .search-content {
    background: transparent url(../img/bgh_1170x377.svg) no-repeat center;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-size: cover;
  }
}

/* From 1024px px to 1439.5px  */
@media screen and (min-width: 1024px) and (max-width: 1439.5px) {
  .landing-page > .search-content {
    background: transparent url(../img/bgh_853x377.svg) no-repeat center;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-size: cover;
  }
}

/* From 769px px to 1023.5px  */
@media screen and (min-width: 769px) and (max-width: 1023.5px) {
  .landing-page > .search-content {
    background: transparent url(../img/bgh_868x377.svg) no-repeat center;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-size: cover;
  }
}

/* < 768.5px */
@media screen and (max-width: 768.5px) {
  .landing-page > .search-content {
    background: transparent url(../img/bgh_548x377.svg) no-repeat center;
    height: 377px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    background-size: cover;
  }
}

.landing-page > .search-content > .search-wrapper {
  position: relative;
  top: -15%;
}

@media screen and (min-width: 1024px) and (max-width: 1439.5px) {
  .landing-page > .search-content > .search-wrapper {
    position: relative;
    top: -13%;
  }
}
.landing-page > .search-content > .search-wrapper > .search-title {
  font-size: 30px;
  color: white;
  text-align: center;
  line-height: 38px;
}
@media screen and (max-width: 768.5px) {
  .landing-page > .search-content > .search-wrapper > .search-title {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 38px;
  }
}
.landing-page > .search-content > .search-wrapper > .search {
  display: inline-flex;
}
.landing-page > .search-content > .search-wrapper > .search > .search-field {
  width: 592px;
}
@media screen and (min-width: 480px) and (max-width: 768.5px) {
  .landing-page > .search-content > .search-wrapper > .search > .search-field  {
    width: 484px;
  }
}
@media screen and (max-width: 479.5px) {
  .landing-page > .search-content > .search-wrapper > .search > .search-field  {
    width: 326px;
  }
}
.landing-page > .search-content > .search-wrapper > .search > .search-field > #search-input {
  border-radius: 8px;
  width: 100%;
  height: 48px;
  border: 0;
  padding-left: 40px;
  background: white url('../img/search.svg') no-repeat 10px;
  background-size: 20px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  color: inherit;
}
.landing-page > .search-content > .search-wrapper > .search > .search-btn {
  height: 48px;
  margin: 0 0 0 10px;
  border-radius: 8px;
  border: 0;
  width: 98px;
  color: white;
  background-color: black;
}
.landing-page > .search-content > .search-wrapper >
.search > .search-field > .search-result-dropdown-menu {
  position: absolute;
  z-index: 100;
  display: block;
  right: 0;
  left: inherit;
  top: 100%;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  text-align: left;
  height: auto;
  background: transparent;
  border: none;
  max-width: 600px;
  min-width: 478px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768.5px) {
  .landing-page > .search-content > .search-wrapper >
  .search > .search-field > .search-result-dropdown-menu {
    min-width: 335px;
  }
}
.landing-page > .search-content > .search-wrapper >
.search > .search-field > .search-result-dropdown-menu > .search-result-dataset {
  position: relative;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 8px;
  overflow: auto;
  padding: 8px;
  max-height: calc(50vh - 5.25rem);
  line-height: 1.5;
}
.landing-page > .item-content {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  height: calc(100% - 377px);
  display: flex;
  justify-content: center;
}

/* Default */
.landing-page > .item-content > .item-background-image {
  background: transparent url(../img/bgf_1170x377.svg) no-repeat bottom;
  background-size: cover;
  width: -webkit-fill-available;
  height: 377px;
  position: absolute;
  bottom: 40px;
}
/* >= 2048px  */
@media screen and (min-width: 2048px) {
  .landing-page > .item-content > .item-background-image {
    background: transparent url(../img/bgf_2479x377.svg) no-repeat bottom;
    background-size: cover;
    width: -webkit-fill-available;
    height: 377px;
    position: absolute;
    bottom: 40px;
  }
}

/* From 1680px to 2047.5px  */
@media screen and (min-width: 1680px) and (max-width: 2047.5px) {
  .landing-page > .item-content > .item-background-image {
    background: transparent url(../img/bgf_1504x377.svg) no-repeat bottom;
    background-size: cover;
    width: -webkit-fill-available;
    height: 377px;
    position: absolute;
    bottom: 40px;
  }
}

/* From 1440px px to 1679.5px  */
@media screen and (min-width: 1440px) and (max-width: 1679.5px) {
  .landing-page > .item-content > .item-background-image {
    background: transparent url(../img/bgf_1170x377.svg) no-repeat bottom;
    background-size: cover;
    width: -webkit-fill-available;
    height: 377px;
    position: absolute;
    bottom: 40px;
  }
}

/* From 1024px px to 1439.5px  */
@media screen and (min-width: 1024px) and (max-width: 1439.5px) {
  .landing-page > .item-content > .item-background-image {
    background: transparent url(../img/bgf_853x377.svg) no-repeat bottom;
    background-size: cover;
    width: -webkit-fill-available;
    height: 377px;
    position: absolute;
    bottom: 40px;
  }
}

/* From 769px px to 1023.5px  */
@media screen and (min-width: 769px) and (max-width: 1023.5px) {
  .landing-page > .item-content > .item-background-image {
    background: transparent url(../img/bgf_868x377.svg) no-repeat bottom;
    background-size: cover;
    width: -webkit-fill-available;
    height: 377px;
    position: absolute;
    bottom: 40px;
  }
}
/* < 769px */
@media screen and (max-width: 768.5px) {
  .landing-page > .item-content > .item-background-image {
    background: transparent url(../img/bgf_548x377.svg) no-repeat bottom;
    background-size: cover;
    width: -webkit-fill-available;
    height: 377px;
    position: absolute;
    bottom: 40px;
  }
}


.landing-page > .item-content > .item-wrapper {
  box-sizing: border-box;
  position: relative;
  top: -112px;
  width: 1440px;
  z-index: 1;
}

@media screen and (min-width: 769px) and (max-width: 1439.5px) {
  .landing-page > .item-content > .item-wrapper {
    box-sizing: border-box;
    position: relative;
    top: -112px;
    width: 840px;
    z-index: 1;
  }
}

@media screen and (max-width: 768.5px) {
  .landing-page > .item-content > .item-wrapper {
    box-sizing: border-box;
    position: relative;
    top: -112px;
    width: 840px;
    z-index: 1;
  }
}


.row {
  padding: 0 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 16px;
  cursor: pointer;
}

@media screen and (min-width: 769px) and (max-width: 1439.5px) {
  [class*="col-"] {
    float: left;
    padding: 12px;
    cursor: pointer;
  }
}

.col-3 {width: 25%;}

@media screen and (min-width: 769px) and (max-width: 1439.5px) {
  .col-3 {width: 33%;}
}
@media screen and (max-width: 768.5px) {
  .col-3 {
    width: 100%;
    padding: 22px;
  }
}

.col-3:hover {
  text-decoration: none !important;
}

.box-wrapper {
  height: 108px;
  background: #FFFFFF;
  border: 1px solid #F2F4F7;
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1), 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
  border-radius: 12px;
}
@media screen and (max-width: 768.5px) {
  .box-wrapper {
    height: 88px;
  }
}

.box-wrapper > .box-item {
  padding: 12px;
  height: 100%;
}
.box-wrapper > .box-item > .box-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 24px;
  padding: 0;
}
.get-started-image {
  background: transparent url(../img/get-started.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.release-notes-image {
  background: transparent url(../img/release-notes.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.integrations-image {
  background: transparent url(../img/integrations.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.devices-image {
  background: transparent url(../img/devices.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.apps-image {
  background: transparent url(../img/apps.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.manual-testing-image {
  background: transparent url(../img/manual-testing.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.automation-testing-image {
  background: transparent url(../img/automation-testing.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.scriptless-automation-image {
  background: transparent url(../img/scriptless-automation.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.debugging-image {
  background: transparent url(../img/debugging.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.session-explorer-image {
  background: transparent url(../img/session-explorer.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.test-management-image {
  background: transparent url(../img/test-management.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.reporting-image {
  background: transparent url(../img/reporting.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.organization-image {
  background: transparent url(../img/organization.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.profile-image {
  background: transparent url(../img/profile.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.supported-platforms-image {
  background: transparent url(../img/supported-platforms.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.api-reference-image {
  background: transparent url(../img/api-reference.svg) no-repeat 0;
  width: 24px;
  height: 24px;
}
.box-wrapper > .box-item > .box-title > .title-info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #101828;
  padding-left: 5px;
}
.box-wrapper > .box-item > .box-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #757575;
  padding: 10px 0 0 0;
  height: calc(100% - 24px);
  overflow: auto;
}
.navbar-custom {
  font-size: 14px;
}
@media screen and (min-width: 1024px) {
  .navbar-dropdown .menu-item {
    font-size: 14px;
    padding: 10px 20px;
  }
}

footer.footer {
  background-color: #101828;
  color: #fff;
  font-size: 0.83333rem;
  text-align: center;
  line-height: 1.6;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.footer p {
  margin: 0;
}