<article class="doc">
  <div class="sub-doc-title">
    {{#with page.title}}
    <div class="title-container">
      <div class="back-previous-page">
        {{#if (ne this 'Reference Resources')}}
        <div class="back-icon" onclick="history.back()"></div>
        {{/if}}
      </div>
      <h1 class="title">{{{this}}}</h1>
      <div class="close-page">
        <div class="close-icon"></div>
      </div>
    </div>
    {{/with}}
    {{#if env.SITE_SEARCH_PROVIDER}}
      {{#if (eq page.title 'Reference Resources')}}
      <div class="search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search Reference Resources" {{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
    {{/if}}
  </div>
  <div class="document-details{{#if (ne page.title 'Reference Resources')}} padding-top-detail{{/if}}">
    {{#if (eq page.title 'Reference Resources')}}
      <div class="reference-resource-wrapper">
        <div class="reference-resource-item ">
          <div class="reference-resource-image-item">
            <img class="" src="_images/help.svg" alt="help">
          </div>
          <div>
            <a class="reference-resource-text-item"  href="{{{env.KOBITON_PORTAL_URL}}}/docs" window="_blank">Help</a>
          </div>
        </div>
         <div class="reference-resource-item ">
          <div class="reference-resource-image-item">
            <img class="" src="_images/api.svg" alt="api">
          </div>
          <div>
            <a class="reference-resource-text-item"  href="{{{env.KOBITON_PORTAL_URL}}}/docs" window="_blank">API</a>
          </div>
        </div>
         <div class="reference-resource-item ">
          <div class="reference-resource-image-item">
            <img class="" src="_images/support.svg" alt="support">
          </div>
          <div>
            <a class="reference-resource-text-item"  href="mailto:support@kobiton.com" window="_blank">Support</a>
          </div>
        </div>
      </div>
    {{/if}}
    {{{page.contents}}}
  </div>
  {{> pagination}}
</article>